* { margin: 0; padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#wrapper {
  margin: 0 auto;
  width: 800px;
}

header {
  padding: 10px 20px;
  margin-bottom: 5px;
  border-bottom: 1px dotted #ccc;
}

p {
  margin: 1em 0;
}

header h1 a {
  font-weight: 200;
  color: #222;
  text-decoration: none;
}

ul, ol {
  margin-left: 20px;
}

li {
  margin: 2px 0;
}

.clear {
  clear: both;
}

code {
  display: block;
  font-size: 1.2em;
  padding: 10px;
  margin: 1em 0;
  border: 1px solid #666;
  color: #333;
}

#content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 25px;
}

#content h2, #content h3, #content h4 {
  font-weight: 200;
  margin-bottom: 0.3em;
}

#content a {
  color: #444;
}

#content a:hover {
  color: #888;
}

#home code {
  width: 400px;
}

#community {
  float: right;
  margin: 5px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
}

#community h2 {
  font-weight: 200;
  margin-bottom: 5px;
}

#community h3 {
  font-weight: 400;
  margin-bottom: 5px;
  color: #666;
}

#community .block {
  margin-top: 10px;
  padding-top: 5px;
  border-top: 1px dotted #ddd;
}

#community .block:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: 0;
}

footer {
  border-top: 1px dotted #ccc;
  background-color: #f5f5f5;
  padding: 10px 15px;
  font-weight: 200;
  color: #222;
}
