<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} - Proty Programming Language</title>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Inconsolata" rel="stylesheet" type="text/css">
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml" />
  </head>
  <body id="{{page.title|downcase}}">
    <div class="wrapper">
      <header>
        <div id="title">
          <h1><a href="/"><img alt="Proty" src="/images/logo.png"></a> Programming Language</h1>
          <div class="clear"></div>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li><li><a href="/news.html">News</a></li><li><a href="http://doc.proty.cc">Docs</a></li><li><a href="/donate.html">Donate</a></li>
          </ul>
        </nav>
      </header>
      <section id="content">
        {{content}}
      </section>
      <footer>
        <div id="copyright">
          &copy; Copyright {{site.time | date: "%Y" }}
        </div>
        <div id="logos">
          <a href="/license/">
            <img src="/images/gplv3.png" alt="GPL v3" />
          </a>
        </div>
        <div class="clear"></div>
      </footer>
    </div>
    <!-- Piwik -->
    <script type="text/javascript">
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.t0g.de/" : "http://stats.t0g.de/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 5);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch(err) {}
    </script>
    <noscript><p><img src="http://stats.t0g.de/piwik.php?idsite=5" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->
  </body>
</html>
