<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}} - Proty Programming Language</title>
    <meta charset="utf-8" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Inconsolata" rel="stylesheet" type="text/css">
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css"/>
  </head>
  <body id="{{page.title|downcase}}">
    <header>
      <div>
        <h1><a href="/"><img alt="Proty" src="/images/logo.png"></a> Programming Language</a></h1>
        <div class="clear"></div>
      </div>
    </header>
    <section id="content">
      <div>
        {{content}}
      <div>
    </section>
    <footer>
      <div>
        &copy; Copyright {{site.time | date: "%Y" }}
      </div>
    </footer>
  </body>
</html>
